<h1>result page !!!!!!!!!!</h1>

<% parsedata["Search"].forEach(function(movie){ %>
<li> <%= movie["Title"] %> - <%= movie["year"] %> </li>
<% }); %>

<br>
<br>
<br>

<input type="text" id="firstname" name="firstname" value=<%= obj.firstname %>>